* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-image: linear-gradient(
    147deg,
    rgb(0, 0, 0) 1%,
    rgb(196, 77, 45) 99%
  );
}

#header nav div span {
  color: #333;
}
/* 
.container-fluid{
    width: auto;
} */

.navbar-brand {
  font-size: 25px;
  font-family: Unique;
}

.navbar-dark .navbar-toggler {
  border-color: #fff;
  color: #fff;
}

.navbar-toggler {
  padding: 4px 10px 8px 10px;
  border: 1px solid #000;
  border-radius: 100%;
}

.navbar-toggler-icon {
  width: 15px;
  height: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 25px;
}

.dropdown-menu {
  margin-left: 40px;
  background-color: azure;
}

.dropdown-item:hover{
    background-color: transparent;
    opacity: 0.7;
}

.login-button {
  margin: 7px 5px 7px auto;
  display: block;
}

.register-button {
  margin: 7px 10px 7px 5px;
}

.sign-link {
  text-align: center;
  padding: 4px 20px 6px 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border: 1px solid #fff;
  width: 100%;
}

.sign-link:hover {
  color: #fff;
  opacity: 0.6;
}

@media only screen and (max-width: 1279px) {
  .dropdown-menu {
    margin-left: 40px;
    background-color: azure;
    margin-right: 40px;
  }

  .sign-link {
    display: block;
    text-align: center;
    padding: 4px 20px 6px 20px;
    margin: 30px auto 5px auto;
    color: #fff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
    border: 1px solid #fff;
    width: 100%;
  }
  .sign-link:hover {
    color: #fff;
    opacity: 0.6;
  }
}
