/* Login, Registration and Recovery Page CSS */
.sign {
    margin: 20px 0;
}

.submit-button {
    width: 100%;
}

.card {
    border-radius: 15px;
}

.site-name {
    font-family: Unique;
}

/* Profile CSS */
.sub-header{
    padding: 15px;
    color: #69707a;
}

.sub-nav{
    padding: 15px 30px 15px 10px;
    color: #ccc;
}

.sub-nav:hover{
    color: #eee;
}

.sub-nav-active{
    font-weight: 600;
    color: #eee;
}

.sub-nav-active:hover{
    font-weight: 600;
    color: #fff;
}