/* Main */
body {
  background-color: #202124;
  color: #bdc1c6;
}

/* Header or Navbar CSS */
#header {
  background-image: linear-gradient(
    147deg,
    rgb(22, 22, 22) 1%,
    rgb(196, 77, 45) 99%
  );
}

.navbar-brand {
  font-size: 25px;
  font-family: Unique;
}

.navbar-dark .navbar-toggler {
  border-color: #fff;
}

.navbar-toggler {
  padding: 4px 10px 8px 10px;
  border: 1px solid #000;
  border-radius: 100%;
}

.navbar-toggler-icon {
  width: 15px;
  height: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 25px;
}

/* Navbar Dropdown Menu */
.dropdown-menu {
  margin-left: 40px;
  background-color: azure;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 10px;
}

.dropdown-item:hover {
  background-color: transparent;
  opacity: 0.7;
}

/* Login Button CSS */
.login-button {
  margin: 7px 5px 7px auto;
  display: block;
}

.sign-link {
  text-align: center;
  padding: 4px 20px 6px 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 10px;
}

.sign-link:hover {
  color: #fff;
  opacity: 0.6;
}

/* Login Button CSS for Low Resulation Screen */
@media only screen and (max-width: 1279px) {
  .dropdown-menu {
    margin-left: 40px;
    background-color: azure;
    margin-right: 40px;
  }

  .sign-link {
    display: block;
    text-align: center;
    padding: 4px 20px 6px 20px;
    margin: 30px auto 5px auto;
    color: #fff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
    border: 1px solid #fff;
    width: 100%;
  }
  .sign-link:hover {
    color: #fff;
    opacity: 0.6;
  }
}

/* Modal */
.modal-content {
  background-color: #282d36;
  box-shadow: 0px 0px 15px #ccc;
}

.modal-body {
  color: #ccc;
}

.modal-title {
  color: #fff;
}

.modal-header {
  background-image: linear-gradient(
    1deg,
    rgb(22, 22, 22) 1%,
    rgb(196, 77, 45) 99%
  );
  border-bottom: 1px solid #fff;
}

/* .modal-footer {
  background-image: linear-gradient(
    180deg,
    rgb(22, 22, 22) 1%,
    rgb(196, 77, 45) 99%
  );
} */

/* Select Student Panel Card CSS in Modal */
.card {
  background-color: #282d36;
  border-color: #282d36;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
}
.card:hover {
  background-color: #1e2229;
}

a {
  text-decoration: none;
}

.card-title {
  color: #fff;
}

.card-text {
  color: #fff;
  opacity: 0.5;
}

/* Sign Modal Toggle CSS */
.sign-text a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.sign-text button:hover {
  background-color: #282d36;
}

.btn-warning {
  color: #fff;
  background-color: #282d36;
  border: 1px solid #fff;
}

.btn-warning:hover {
  color: #ccc;
  background-color: #282d36;
  border: 1px solid #fff;
}

/* Homepage CSS */
.features-content {
  height: 2000px;
}

/* Login, Registration and Recovery Page CSS */
.sign {
  margin: 20px 0;
}

.submit-button {
  width: 100%;
}

.card {
  border-radius: 15px;
}

.site-name {
  font-family: Unique;
}

/* Profile CSS */
.sub-header {
  padding: 15px;
  color: #69707a;
}

.sub-nav {
  padding: 15px 30px 15px 10px;
  color: #ccc;
}

.sub-nav:hover {
  color: #eee;
}

.sub-nav-active {
  font-weight: 600;
  color: #eee;
}

.sub-nav-active:hover {
  font-weight: 600;
  color: #fff;
}
